<%= simple_form_for(@worktype) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :uid %>
    <%= f.input :name %>
    <%= f.input :on_duty_at %>
    <%= f.input :off_duty_at %>
    <%= f.input :buffer_before_duty %>
    <%= f.input :buffer_after_duty %>
    <%= f.input :minimum_before_overwork %>
    <%= f.input :minimum_after_overwork %>
    <%= f.input :minimum_holiday_overwork %>
    <%= f.input :range_on %>
    <%= f.input :range_off %>
    <%= f.input :is_stoped %>
    <%= f.input :mins_of_duty %>
    <%= f.input :memo %>
    <%= f.input :ou_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
