<h2>班別清單</h2>

<%= form_tag multi_destroy_worktypes_path, method: :delete do %>

  <%= link_to '新增', new_worktype_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料，Are you sure?' } %>

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>代號</th>
      <th>名稱</th>
      <th>休息時刻</th>
      <th>出勤起</th>
      <th>出勤迄</th>
      <th>提早上班</th>
      <th>延後上班</th>
      <th>上班前加班分鐘</th>
      <th>下班後加班分鐘</th>
      <th>假日加班分鐘</th>
      <!-- <th>Range on</th>
      <th>Range off</th> -->
      <th>停用</th>
      <th>班別工時</th> 
    </tr>
  </thead>

  <tbody>
    <% @worktypes.each_with_index do |worktype,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", worktype.id %></td>
        <td><%= i+1 %></td>
        <td><%= worktype.uid %></td>
        <td><%= link_to worktype.name, edit_worktype_path(worktype) %></td>
        <td><%= link_to '設定', worktype_workrests_path(worktype.id), method: :get %></td>
        <td><%= worktype.on_duty_at.strftime("%H:%M") %></td>
        <td><%= worktype.off_duty_at.strftime("%H:%M") %></td>
        <td><%= worktype.buffer_before_duty %></td>
        <td><%= worktype.buffer_after_duty %></td>
        <td><%= worktype.minimum_before_overwork %></td>
        <td><%= worktype.minimum_after_overwork %></td>
        <td><%= worktype.minimum_holiday_overwork %></td>
        <!-- <td><%= worktype.range_on %></td>
        <td><%= worktype.range_off %></td> -->
        <td><%= worktype.is_stoped %></td>
        <td><%= worktype.mins_of_duty %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新增 ', new_worktype_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料，Are you sure?' } %>

<% end %>