<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @worktype.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @worktype.name %>
</p>

<p>
  <strong>On duty at:</strong>
  <%= @worktype.on_duty_at %>
</p>

<p>
  <strong>Off duty at:</strong>
  <%= @worktype.off_duty_at %>
</p>

<p>
  <strong>Buffer before duty:</strong>
  <%= @worktype.buffer_before_duty %>
</p>

<p>
  <strong>Buffer after duty:</strong>
  <%= @worktype.buffer_after_duty %>
</p>

<p>
  <strong>Minimum before overwork:</strong>
  <%= @worktype.minimum_before_overwork %>
</p>

<p>
  <strong>Minimum after overwork:</strong>
  <%= @worktype.minimum_after_overwork %>
</p>

<p>
  <strong>Minimum holiday overwork:</strong>
  <%= @worktype.minimum_holiday_overwork %>
</p>

<p>
  <strong>Range on:</strong>
  <%= @worktype.range_on %>
</p>

<p>
  <strong>Range off:</strong>
  <%= @worktype.range_off %>
</p>

<p>
  <strong>Is stoped:</strong>
  <%= @worktype.is_stoped %>
</p>

<p>
  <strong>Mins of duty:</strong>
  <%= @worktype.mins_of_duty %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @worktype.memo %>
</p>

<p>
  <strong>Ou:</strong>
  <%= @worktype.ou_id %>
</p>

<%= link_to 'Edit', edit_worktype_path(@worktype) %> |
<%= link_to 'Back', worktypes_path %>
