<%= simple_form_for(@offwork) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <table width="100%">
      <tr>
        <td width="50%">
          <%= f.input :employee_uid,label:'員工編號',:input_html => {:onChange => 'emp_get_name(this.value)'},autofocus: true %>
        </td>
        <td class="td_text">
          <span id="name"></span>
        </td>
      </tr>
      <tr>
        <td colspan="2">          
           <%= f.input :employee_id,as: :hidden,:input_html => {:id => "employee_id"} %>
          <%= f.association :offtype,label: '假別',:label_method => lambda { |f| "#{f.uid}  #{f.name}" }, :include_blank => false %>
          <%= f.input :begin_date, label: '請假起(日期)' %>
          <%= f.input :begin_time, label: '請假起(時間)' %>
          <%= f.input :end_date,label: '請假迄(日期)' %>
          <%= f.input :end_time,label: '請假迄(時間)' %>
          <!-- <%= f.input :off_hours,placeholder:'時數',label:'請假時數' %> -->
          <!-- <%= f.input :is_closed,label:'是否關帳' %> -->
          <%= f.input :notes,placeholder:'備註',label:'備註' %>
        </td>
      </tr>
    </table>
  </div>

  <div class="form-actions"> 
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to '回上一頁', doc_offworks_path,class: 'btn btn-primary', method: :get %>
  </div>
<% end %>
