<%= simple_form_for(@offwork) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.association :employee,:label_method => lambda { |f| "#{f.uid}  #{f.name}" } ,autofocus: true %>
    <%= f.association :offtype,:label_method => lambda { |f| "#{f.uid}  #{f.name}" },include_blank: false  %>
    <%= f.input :begin_date, label: '請假起(日期)' %>
    <%= f.input :begin_time, label: '請假起(時間)' %>
    <%= f.input :end_date,label: '請假迄(日期)' %>
    <%= f.input :end_time,label: '請假迄(時間)' %>

    <%= f.input :off_hours,placeholder:'時數',label:'請假時數' %>
    <%= f.input :is_closed,label:'是否關帳' %>
    <%= f.input :notes,placeholder:'備註',label:'備註' %> 
  </div>

  <div class="form-actions"> 
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to 'Back', doc_offworks_path,class: 'btn btn-primary', method: :get %>
  </div>
<% end %>
