<h2>請假清單</h2> 

<%= form_tag multi_destroy_doc_offworks_path, method: :delete do %>  
  <%= link_to 'New ', new_doc_offwork_path,autofocus: true, method: :get, class: 'btn btn-primary' %>  

  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %> 

  <table id='table_id' class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th>項次</th>
        <th>姓名</th>
        <th>假別</th>
        <th>請假起</th>
        <th>請假迄</th>
        <th>請假時數</th>
        <th>是否關帳</th>  
      </tr>
    </thead>

    <tbody>
      <% @offworks.each_with_index do |offwork,i| %>
        <tr>
          <td><%= check_box_tag "ids[]", offwork.id %></td>
          <td><%= i+1 %></td>
          <td><%= link_to offwork.employee.name, edit_doc_offwork_path(offwork) %></td>
          <td><%= offwork.offtype.try(:name) %></td>
          <td><%= offwork.offduty_begin_at.strftime('%Y-%m-%d %H:%M') if offwork.offduty_begin_at? %></td>
          <td><%= offwork.offduty_end_at.strftime('%Y-%m-%d %H:%M') if offwork.offduty_end_at? %></td>
          <td><%= offwork.off_hours %></td>
          <td><%= '已關帳' if offwork.is_closed %></td>  
        </tr>
      <% end %>
    </tbody>
  </table> 
   <%= link_to 'New ', new_doc_offwork_path,autofocus: true, method: :get, class: 'btn btn-primary' %>  

    <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %> 
<% end %>
 
