<h2>公司清單</h2>

<%= form_tag multi_destroy_ous_path, method: :delete do %>

  <%= link_to '新增 ', new_ou_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <!-- <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料，Are you sure?' } %> -->

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th>項次</th>
      <th>代號</th>
      <th>名稱</th>
      <th>加班免稅時數</th>
      <th>Days per month</th>
      <th>Hours per day</th>
      <th>Lp rate</th>
      <th>Welfare rate</th>
      <th>備註</th>
    </tr>
  </thead>

  <tbody>
    <% @ous.each_with_index do |ou,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= link_to ou.uid, edit_ou_path(ou) %></td>
        <td><%= link_to ou.name, edit_ou_path(ou) %></td>
        <td><%= ou.overwork_hours_for_freetax %></td>
        <td><%= ou.days_per_month %></td>
        <td><%= ou.hours_per_day %></td>
        <td><%= ou.LP_rate %></td>
        <td><%= ou.welfare_rate %></td>
        <td><%= ou.memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新增 ', new_ou_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <!-- <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料，Are you sure?' } %> -->

<% end %>
