<%= simple_form_for(@employee) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :uid,autofocus:true %>
    <%= f.input :name %>
    <%= f.association :department, :label_method => lambda { |f| "#{f.uid}  #{f.name}" }  %>
    <%= f.input :id_number %>
    <%= f.input :arrive_date  %>
    <%= f.input :leave_date %>
    <%= f.input :birthday %>
    <%= f.input :sex %>
    <%= f.input :marriage %>
    <%= f.input :education %>
    <%= f.input :school %>
    <%= f.input :tel1 %>
    <%= f.input :tel2 %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :email %>
    <%= f.input :cardno %>
  </div>

  <div class="form-actions">
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to 'Back', employees_path,class: 'btn btn-primary', method: :get %>
  </div>

<% end %> 