<%= link_to '勞健保設定', employee_employee_insurance_settings_path(@employee), class: 'btn btn-info', method: :get %>
<%= link_to '薪資設定', employees_path, class: 'btn btn-info', method: :get %>

<%= simple_form_for(@employee) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs" style="padding-top: 30px">
    <%= f.input :uid,autofocus:true %>
    <%= f.input :name %>
    <%= f.association :department, :label_method => lambda { |f| "#{f.uid}  #{f.name}" }  %>
    <%= f.input :id_number %>
    <%= f.date_field :arrive_date %>
    <%= f.date_field :leave_date %>
    <%= f.input :birthday %>
    <%= f.input :sex, :collection => Option.sex %>
    <%= f.input :marriage, :collection => Option.marriage  %>
    <%= f.input :education, :collection => Option.education %>
    <%= f.input :school %>
    <%= f.input :tel1 %>
    <%= f.input :tel2 %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :email %>
    <%= f.input :cardno %>
  </div>

  <div class="form-actions">
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to 'Back', employees_path,class: 'btn btn-primary', method: :get %>
  </div>

<% end %> 