<h2>Listing Employees</h2>

<%= form_tag multi_destroy_employees_path, method: :delete do %>

  <%= link_to 'New ', new_employee_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %> 

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>Uid</th>
      <th>Name</th>
      <th>Department</th>
      <th>Id number</th>
      <th>Arrive date</th>
      <th>Levae date</th>
      <th>Birthday</th>
      <th>Sex</th>
      <th>Marriage</th>
      <th>Education</th>
      <th>School</th> 
      <th>Email</th>
      <th>Cardno of duty</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each_with_index do |employee,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", employee.id %></td>
        <td><%= i+1 %></td>
        <td><%= link_to employee.uid,edit_employee_path(employee) %></td>
        <td><%= link_to employee.name,edit_employee_path(employee) %></td>
        <td><%= employee.department_id %></td>
        <td><%= employee.id_number %></td>
        <td><%= employee.arrive_date %></td>
        <td><%= employee.leave_date %></td>
        <td><%= employee.birthday %></td>
        <td><%= employee.sex %></td>
        <td><%= employee.marriage %></td>
        <td><%= employee.education %></td>
        <td><%= employee.school %></td>
        <td><%= employee.email %></td>
        <td><%= employee.cardno %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'New ', new_employee_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  
<% end %>