<h1>Listing Employees</h1>


<%= paginate @employees, :theme => 'twitter-bootstrap-3'%>
<table id='table_id' class='table table-hover'>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Department</th>
      <th>Id number</th>
      <th>Arrive date</th>
      <th>Levae date</th>
      <th>Birthday</th>
      <th>Sex</th>
      <th>Marriage</th>
      <th>Education</th>
      <th>School</th> 
      <th>Email</th>
      <th>Cardno of duty</th>
      <th>x</th>
      <th>y</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.uid %></td>
        <td><%= employee.name %></td>
        <td><%= employee.department_id %></td>
        <td><%= employee.id_number %></td>
        <td><%= employee.arrive_date %></td>
        <td><%= employee.leave_date %></td>
        <td><%= employee.birthday %></td>
        <td><%= employee.sex %></td>
        <td><%= employee.marriage %></td>
        <td><%= employee.education %></td>
        <td><%= employee.school %></td> 
        <td><%= employee.cardno %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @employees, :theme => 'twitter-bootstrap-3'%>

<br>

<%= link_to 'New Employee', new_employee_path %>
