<%= simple_form_for(@lvtype) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :uid %>
    <%= f.input :name %>
    <%= f.input :memo %>
  </div>

  <div class="form-actions">
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to 'Back', lvtypes_path,class: 'btn btn-primary', method: :get %>
  </div>

<% end %>