<%= simple_form_for(@schemp) do |f| %>
  <div class="form-inputs">
    <%= f.input :uid, :disabled => true %> 
    <%= f.input :name, :disabled => true %>
    <%= f.input :duty_date, as: :string, :disabled => true %>
    <%= f.input :is_holiday,as: :select %>
    <%= f.input :worktype  %>
  </div>

  <div class="form-actions" >
    <%= f.button :submit %>
  </div>
<% end %>



