<%= simple_form_for(@viewschemp) do |f| %>
  <div class="form-inputs">
    <%= f.input :id, as: :hidden %>
    <%= f.input :employee_id, as: :hidden %>
    <%= f.input :uid, :readonly => true %> 
    <%= f.input :name, :readonly => true %>
    <%= f.input :duty_date, as: :string, :readonly => true %>
    <%= f.input :is_holiday, collection: [['Y',1],['N',0]] , selected: 0 %>
    <%= f.association :worktype, value_method: :id, label_method: lambda {|f| "#{f.uid} #{f.name}"}  %> 
  </div> 

  <div class="form-actions" >
    <%= f.button :submit,'存檔' %>

    <%= link_to 'Back', view_sch_emps_path, class: 'btn btn-primary'%>
  </div>
<% end %>



