<%= simple_form_for(@schemp) do |f| %>
  <div class="form-inputs">
    <%= f.input :duty_date %>
    <%= f.input :is_holiday %>
    <%= f.input :worktype_id %>
    <%= f.input :uid %>
    <%= f.input :employee_id %>
  </div>

  <div class="form-actions" >
    <%= f.button :submit %>
  </div>
<% end %>



