<h1>出勤曆</h1>

<%= form_tag view_sch_emps_path, :method => 'get' do %>
  <p>
  	<%= text_field_tag :yyyymm, yyyymm,placeholder:'年月' %>
  	<%= text_field_tag :emp_id, params[:emp_id],placeholder:'工號' %>
  	<%= submit_tag "尋找", :name => nil %>
  </p>
<% end %>

<table id='table_id' class='table table-hover'>
	<tbody>
		<thead>
			<th>項次</th>
			<th>姓名</th>
			<th>日期</th>
			<th>假日</th>
			<th></th>
		</thead>
		<% @viewschemps.each_with_index do |f,i| %>
		  <tr>
		  	<td><%= i + 1 %></td>
		  	<td><%= f.name %></td>
		  	<td><%= link_to f.duty_date,edit_view_sch_emp_path(f,:duty_date => f.duty_date,:uid => f.uid)%></td>
		  	<td><%= f.name %></td>
				<td><%= f.duty_date %></td>
				<td><%= f.is_holiday %></td>
			</tr>
		<% end %>
  </tbody>
</table>