<h1>出勤曆</h1>

<%= form_tag view_sch_emps_path, :method => 'get' do %>
  <p>
  	<%= text_field_tag :yyyymm, yyyymm,placeholder:'年月' %>
  	<%= text_field_tag :emp_id, params[:emp_id],placeholder:'工號' %>
  	<%= submit_tag "尋找", :name => nil %>
  </p>
<% end %>

<table class='table table-hover'>
	<tbody>
		<thead>
			<th> 日期</th>
			<th> 假日</th>
		</thead>
		<% @viewschemps.each do |f| %>
		  <tr>
		  	<td><%= f.id %></td>
		  	<td><%= link_to f.duty_date,edit_view_sch_emp_path(f,:uid => f.uid,:duty_date => f.duty_date, :worktype_id => f.worktype_id, :is_holiday => f.is_holiday, :employee_id => f.employee_id)%></td>
		  	<td><%= f.name %></td>
				<td><%= f.duty_date %></td>
				<td><%= f.is_holiday %></td>
			</tr>
		<% end %>
  </tbody>
</table>