<h2>Listing Lvlists</h2>

<%= form_tag multi_destroy_lvlists_path, method: :delete do %>

  <%= link_to 'New ', new_lvlist_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %> 

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>Uid</th>
      <th>Amt</th>
      <th>Ou</th>
    </tr>
  </thead>

  <tbody>
    <% @lvlists.each_with_index do |lvlist,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", lvlist.id %></td>
        <td><%= i+1 %></td>
        <td><%= link_to lvlist.uid,edit_lvlist_path(lvlist) %></td>
        <td><%= lvlist.amt %></td>
        <td><%= lvlist.ou_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'New ', new_lvlist_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  
<% end %>
