<p id="notice"><%= notice %></p>

<h1>Listing Lvlists</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Amt</th>
      <th>Ou</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lvlists.each do |lvlist| %>
      <tr>
        <td><%= lvlist.uid %></td>
        <td><%= lvlist.amt %></td>
        <td><%= lvlist.ou_id %></td>
        <td><%= link_to 'Show', lvlist %></td>
        <td><%= link_to 'Edit', edit_lvlist_path(lvlist) %></td>
        <td><%= link_to 'Destroy', lvlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lvlist', new_lvlist_path %>
