<h4><strong><%= @employee_name %></strong></h4>

<%= simple_form_for @inoutlog, url: employee_employee_inoutlogs_path do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :action, label: '類別', :collection => Option.of(:EmployeeInoutlog, :action), :input_html => {:onChange => 'emp_inout_change()'}, :include_blank => false %>
    <div id="active_div"><%= f.association :department, label: '部門', :label_method => lambda { |f| "#{f.uid}  #{f.name}" }, :include_blank => false %></div>
    <%= f.input :begin_at, label: '生效日', as: :string %>
    <%= f.input :days_of_jobage, label: '期初年資', input_html: {value: f.object.days_of_jobage || '0'} %>
  </div>

  <div class="form-actions">
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to 'Back', employee_employee_inoutlogs_path, class: 'btn btn-primary', method: :get %>
  </div>

<% end %> 

<script>
    $('#active_div').hide();
    var dept = $("#employee_inoutlog_department_id").val();
    function emp_inout_change(){
      var action = $("#employee_inoutlog_action").val();
      if(action == "C1"){
        $('#active_div').show();
      }else{
        $('#active_div').hide();
        $('#employee_inoutlog_department_id').val(dept);
      }
    }
</script>