<h2>新增人員異動維護</h2>

<div id='rcorners2'>
  <h4><strong><%= @employee_name %></strong></h4>

<%= simple_form_for @inoutlog, url: employee_employee_inoutlog_path do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :department_id, as: :hidden %>
    <%= f.input :action, label: '類別', :collection => Option.of(:EmployeeInoutlog, :action), :disabled => true %>
    <%= f.input :begin_at, label: '生效日', as: :string, :disabled => true %>
    <%= f.input :days_of_jobage, label: '期初年資', :disabled => true %>
  </div>

  <div class="form-actions">
      <%= link_to 'Back', employee_employee_inoutlogs_path, class: 'btn btn-primary', method: :get %>
  </div>

<% end %> 
</div>