<h2>新增人員異動維護</h2>

<div id='rcorners2'>
  <h4><strong><%= @employee_name %></strong></h4>

<%= simple_form_for @inoutlog, url: employee_employee_inoutlog_path do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :action, label: '類別', :collection => Option.of(:EmployeeInoutlog, :action), :disabled => true %>
    <%= f.association :department, label: '部門', :label_method => lambda { |f| "#{f.uid}  #{f.name}" }, :include_blank => false, :disabled => true  %>
    <%= f.input :begin_at, label: '生效日', as: :string, :disabled => true %>
    <%= f.input :days_of_jobage, label: '期初年資', :disabled => true %>
  </div>

  <div class="form-actions">
      <%= link_to '回上一頁', employee_employee_inoutlogs_path, class: 'btn btn-warning', method: :get %>
  </div>

<% end %> 
</div>