<h2>人員-人員異動設定 (<%= @employee_name %>)</h2>

<%= form_tag multi_destroy_employee_employee_inoutlogs_path, method: :delete do %>

  <%= link_to 'New ', new_employee_employee_inoutlog_path, autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  <%= link_to 'Back', edit_employee_path(@employee_id), class: 'btn btn-primary', method: :get %>

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>類別</th> 
      <th>生效日</th>
      <th>期初年資</th>
    </tr>
  </thead>

  <tbody>
    <% @inoutlogs.each_with_index do |inoutlog,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", inoutlog.id %></td>
        <td><%= i+1 %></td>
        <td><%= link_to inoutlog.to_s, edit_employee_employee_inoutlog_path(inoutlog.employee_id, inoutlog) %></td> 
        <td><%= inoutlog.begin_at %></td>
        <td><%= inoutlog.days_of_jobage %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'New ', new_employee_employee_inoutlog_path, autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  <%= link_to 'Back', edit_employee_path(@employee_id), class: 'btn btn-primary', method: :get %>
  
<% end %>