<%= simple_form_for(@month_other, :html=>{:onsubmit=>"return checkform();"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs"> 
    <%= f.association :pay_type, include_blank: false  %>
    <%= f.input :yyyymm %>
    <%= f.input :name, label: '備註' %>
  </div>

  <div id="details_div" style="padding-bottom: 30px;">
    <table id="details_table" class="list_tb" width="100%" border="1">
      <thead>
        <tr style="background-color: #CEFFCE;">
          <th>操作</th>
          <th>項次 <input type="button" value="刪除" onclick="del_details();"></th>
          <th>工號</th>
          <th>姓名</th>
          <th>部門</th>
          <th>金額</th>
        </tr>
      </thead>
      <tbody>

        <% @month_other.month_other_details.each_with_index do |details,i| %>
          <tr>
            <td><span class="del_span"></span></td>
            <td><label><%= i+1 %></label> <input type="checkbox" name="delete" /><input type="hidden" name="month_other[month_other_details_attributes][<%= i %>][id]" value="<%= details.id %>" /></td>
            <td><input type="text" class="employee_uid" name="employee_uid" value="<%= details.employee.uid %>" onchange="emp_get_name_multi(this)" /><input type="hidden" class="employee_id" name="month_other[month_other_details_attributes][<%= i %>][employee_id]" value="<%= details.employee.id %>" /></td>
            <td><input type="text" class="employee_name" name="employee_name" value="<%= details.employee.name %>" disabled="true" /></td>
            <td><input type="text" class="employee_dep" name="employee_dep" value="<%= details.employee.department.name %>" disabled="true" /></td>
            <td><input type="text" class="amt" name="month_other[month_other_details_attributes][<%= i %>][amt]" value="<%= details.amt %>" onfocus="get_next_line(this)" /><input type="hidden" class="destroy" name="month_other[month_other_details_attributes][<%= i %>][_destroy]" value="false" /></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="form-actions">
   <table width="100%">
    <tr>
      <td><%= f.button :submit,'存檔',class: 'btn btn-primary' %> <%= link_to '回上一頁', month_others_path, class: 'btn btn-warning', method: :get %></td>
      <td align="right"><% if params[:action] != 'new' %><%= link_to 'Export to Excel', export_month_others_path("id" => @month_other.id), class: 'btn btn-primary', method: :get %><% end %>
      </td>
    </tr>
   </table>
  </div>
<% end %>

<% if params[:action] != 'new' %>
<p>
  <%= form_tag import_month_others_path, multipart: true do %>
    <%= hidden_field_tag 'month_other_id', @month_other.id  %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</p>
<% end %>

<%= javascript_tag do %>
  add_first_row();
<% end %>