<h2>津貼/扣款單</h2>

<%= link_to '新增 ', new_month_other_path, autofocus: true, method: :get, class: 'btn btn-primary' %>

<table id='table_id' class='table table-hover'>
  <thead>
    <tr>
      <th>項次</th>
      <th>年月</th>
      <th>薪資項目</th>
      <th>備註</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @month_others.each_with_index do |month_other,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= month_other.yyyymm %></td>
        <td><%= month_other.pay_type.try(:name) %></td>
        <td><%= month_other.name %></td>
        <td><%= link_to '修改', edit_month_other_path(month_other), method: :get %></td>
        <td><%= link_to '刪除', month_other, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新增 ', new_month_other_path, autofocus: true, method: :get, class: 'btn btn-primary' %>
