<p id="notice"><%= notice %></p>

<p>
  <strong>Ou:</strong>
  <%= @month_other.ou_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @month_other.employee_id %>
</p>

<p>
  <strong>Yyyymm:</strong>
  <%= @month_other.yyyymm %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @month_other.pay_type_id %>
</p>

<p>
  <strong>Amt:</strong>
  <%= @month_other.amt %>
</p>

<%= link_to 'Edit', edit_month_other_path(@month_other) %> |
<%= link_to 'Back', month_others_path %>
