<%= simple_form_for(@catcode) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :m_name,placeholder:'Model_Name',autofocus:true %>
    <%= f.input :col_name,placeholder:'Column_name' %>
    <%= f.input :uid,placeholder:'代號' %>
    <%= f.input :name,placeholder:'名稱' %>
    <%= f.input :is_stoped %> 
    <%= f.input :memo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
