<h2>Listing Catcodes</h2>

<%= form_tag multi_destroy_catcodes_path, method: :delete do %>

  <%= link_to 'New ', new_catcode_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %> 

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>M name</th>
      <th>Col name</th>
      <th>Uid</th>
      <th>Name</th>
      <th>Is stoped</th> 
    </tr>
  </thead>

  <tbody>
    <% @catcodes.each_with_index do |catcode,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", catcode.id %></td>
        <td><%= i+1 %></td>
        <td><%= link_to catcode.m_name,edit_catcode_path(catcode) %></td>
        <td><%= link_to catcode.col_name,edit_catcode_path(catcode) %></td>
        <td><%= catcode.uid %></td>
        <td><%= catcode.name %></td>
        <td><%= catcode.is_stoped %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'New ', new_catcode_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  
<% end %>
