<%= simple_form_for(@forget) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :employee_uid,label:'員工編號',:input_html => {:onChange => 'emp_get_name(this.value);'} %><span id="name"></span>
    <%= f.input :employee_id,as: :hidden %>
    <%= f.input :duty_date,as: :string,label:'出勤日期' %>
    <%= f.input :begin_date,label:'忘刷起(日期)' %>
    <%= f.input :begin_time,label:'忘刷起(時間)' %>
    <%= f.input :end_date,label:'忘刷起(日期)' %>
    <%= f.input :end_time,label:'忘刷迄(時間)' %>
    <%= f.input :is_closed,label:'是否關帳' %>
    <%= f.input :notes,placeholder:'備註',label:'備註' %> 
  </div>

  <div class="form-actions"> 
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to 'Back', doc_forgets_path,class: 'btn btn-primary', method: :get %>
  </div>
<% end %>