<h2>忘刷清單</h2> 

<%= form_tag multi_destroy_doc_forgets_path, method: :delete do %>  
  <%= link_to '新增 ', new_doc_forget_path,autofocus: true, method: :get, class: 'btn btn-primary' %>

  <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料，Are you sure?' } %>

  <table id='table_id' class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th>項次</th>
        <th>姓名</th>
        <th>部門</th>
        <th>出勤日期</th>
        <th>出勤起</th>
        <th>出勤迄</th>
        <th>是否關帳</th>  
      </tr>
    </thead>

    <tbody>
      <% @forgets.each_with_index do |forget,i| %>
        <tr>
          <td><%= check_box_tag "ids[]", forget.id %></td>
          <td><%= i+1 %></td>
          <td><%= link_to forget.emp_name, edit_doc_forget_path(forget) %></td>
          <td><%= forget.dep_name %></td>
          <td><%= forget.duty_date %></td>
          <td><%= forget.on_duty_at.strftime('%Y-%m-%d %H:%M') if forget.on_duty_at? %></td>
          <td><%= forget.off_duty_at.strftime('%Y-%m-%d %H:%M') if forget.off_duty_at? %></td>
          <td><%= '已關帳' if forget.is_closed %></td>  
        </tr>
      <% end %>
    </tbody>
  </table> 

  <%= link_to '新增 ', new_doc_forget_path,autofocus: true, method: :get, class: 'btn btn-primary' %>

  <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料，Are you sure?' } %>

<% end %>
 
