<%= simple_form_for(@insurance_setting) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :uid,label:'代號',placeholder:'保險身分代號',autofocus:true %>
    <%= f.input :name,label:'名稱',placeholder:'保險身分說明' %>
    <%= f.input :is_stoped,label:'停用' %>
    <%= f.input :memo,label:'備註' %> 
    <%= f.input :a_rate,placeholder:'普通事故保險費率',label:'普通事故保險費率' %>
    <%= f.input :a_employee,placeholder:'員工自付％',label:'普通事故' %>
    <%= f.input :a_company,placeholder:'公司付擔％' %>
    <%= f.input :b_rate,placeholder:'職業災害保險費' %>
    <%= f.input :b_employee,placeholder:'員工自付％' %>
    <%= f.input :b_company,placeholder:'公司付擔％' %>
    <%= f.input :c_rate,placeholder:'就業保險費' %>
    <%= f.input :c_employee,placeholder:'員工自付％' %>
    <%= f.input :c_company,placeholder:'公司付擔％' %>
    <%= f.input :d_rate,placeholder:'工資墊償基金' %>
    <%= f.input :d_employee,placeholder:'員工自付％' %>
    <%= f.input :d_company,placeholder:'公司付擔％' %>
    <%= f.input :e_rate,placeholder:'健保費' %>
    <%= f.input :e_employee,placeholder:'員工自付％' %>
    <%= f.input :e_company,placeholder:'公司付擔％' %>
  </div>

  <div class="form-actions">
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to '回上一頁', insurance_settings_path,class: 'btn btn-warning', method: :get %>
  </div>

<% end %> 
