<h2>保險身分清單</h2>

<%= form_tag multi_destroy_insurance_settings_path, method: :delete do %>

  <%= link_to '新增 ', new_insurance_setting_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料，Are you sure?' } %> 

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>代號</th>
      <th>名稱</th>
      <th>停用</th> 
      <th>A rate</th>
      <th>A employee</th>
      <th>A company</th>
      <th>B rate</th>
      <th>B employee</th>
      <th>B company</th>
      <th>C rate</th>
      <th>C employee</th>
      <th>C company</th>
      <th>D rate</th>
      <th>D employee</th>
      <th>D company</th>
      <th>E rate</th>
      <th>E employee</th>
      <th>E company</th>
    </tr>
  </thead>

  <tbody>
    <% @insurance_settings.each_with_index do |insurance_setting,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", insurance_setting.id %></td>
        <td><%= i+1 %></td>
        <td><%= link_to insurance_setting.uid, edit_insurance_setting_path(insurance_setting) %></td>
        <td><%= link_to insurance_setting.name, edit_insurance_setting_path(insurance_setting) %></td>
        <td><%= insurance_setting.is_stoped %></td> 
        <td><%= insurance_setting.a_rate %></td>
        <td><%= insurance_setting.a_employee %></td>
        <td><%= insurance_setting.a_company %></td>
        <td><%= insurance_setting.b_rate %></td>
        <td><%= insurance_setting.b_employee %></td>
        <td><%= insurance_setting.b_company %></td>
        <td><%= insurance_setting.c_rate %></td>
        <td><%= insurance_setting.c_employee %></td>
        <td><%= insurance_setting.c_company %></td>
        <td><%= insurance_setting.d_rate %></td>
        <td><%= insurance_setting.d_employee %></td>
        <td><%= insurance_setting.d_company %></td>
        <td><%= insurance_setting.e_rate %></td>
        <td><%= insurance_setting.e_employee %></td>
        <td><%= insurance_setting.e_company %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to '新增 ', new_insurance_setting_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料，Are you sure?' } %>
  
<% end %>

