<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @insurance_setting.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @insurance_setting.name %>
</p>

<p>
  <strong>Is stoped:</strong>
  <%= @insurance_setting.is_stoped %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @insurance_setting.memo %>
</p>

<p>
  <strong>Ou:</strong>
  <%= @insurance_setting.ou_id %>
</p>

<p>
  <strong>A rate:</strong>
  <%= @insurance_setting.a_rate %>
</p>

<p>
  <strong>A employee:</strong>
  <%= @insurance_setting.a_employee %>
</p>

<p>
  <strong>A compayny:</strong>
  <%= @insurance_setting.a_compayny %>
</p>

<p>
  <strong>B rate:</strong>
  <%= @insurance_setting.b_rate %>
</p>

<p>
  <strong>B employee:</strong>
  <%= @insurance_setting.b_employee %>
</p>

<p>
  <strong>B compayny:</strong>
  <%= @insurance_setting.b_compayny %>
</p>

<p>
  <strong>C rate:</strong>
  <%= @insurance_setting.c_rate %>
</p>

<p>
  <strong>C employee:</strong>
  <%= @insurance_setting.c_employee %>
</p>

<p>
  <strong>C compayny:</strong>
  <%= @insurance_setting.c_compayny %>
</p>

<p>
  <strong>D rate:</strong>
  <%= @insurance_setting.d_rate %>
</p>

<p>
  <strong>D employee:</strong>
  <%= @insurance_setting.d_employee %>
</p>

<p>
  <strong>D compayny:</strong>
  <%= @insurance_setting.d_compayny %>
</p>

<p>
  <strong>E rate:</strong>
  <%= @insurance_setting.e_rate %>
</p>

<p>
  <strong>E employee:</strong>
  <%= @insurance_setting.e_employee %>
</p>

<p>
  <strong>E compayny:</strong>
  <%= @insurance_setting.e_compayny %>
</p>

<%= link_to 'Edit', edit_insurance_setting_path(@insurance_setting) %> |
<%= link_to 'Back', insurance_settings_path %>
