<%= simple_form_for(@overtype) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :uid,placeholder:'加班類別代號',autofocus:true %>
    <%= f.input :name,placeholder:'加班類別名稱' %>
    <%= f.input :mins_of_A,placeholder:'加班A時間預設：120' %>
    <%= f.input :mins_of_B,placeholder:'加班b時段預設：120' %>
    <%= f.input :rate_of_A,placeholder:'A時段加班費比率：1.333' %>
    <%= f.input :amt_of_A,placeholder:'A時段加班費金額：0' %>
    <%= f.input :rate_of_B,placeholder:'B時段加班費比率：1.666' %>
    <%= f.input :amt_of_B,placeholder:'B時段加班費金額：0' %>
    <%= f.input :rate_of_C,placeholder:'C時段加班費比率：2.000' %>
    <%= f.input :amt_of_C,placeholder:'C時段加班費金額：0' %>
    <%= f.input :rate_of_H,placeholder:'假日加班費比率：2.000' %>
    <%= f.input :amt_of_H,placeholder:'假日加班費金額：0' %>
    <%= f.input :mins_per_unit,placeholder:'加班費累進單位(分鐘) 預設：60' %>
    <%= f.input :valid_unit , :collection => ['1m', '2m']%> 
    <%= f.input :is_stoped %>
    <%= f.input :pay_type %>
    <%= f.input :memo %> 
  </div>

  <div class="form-actions">
    <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
    <%= link_to 'Back', overtypes_path,class: 'btn btn-primary', method: :get %></td>
  </div>
<% end %>
