<%= simple_form_for(@overtype) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :uid %>
    <%= f.input :name %>
    <%= f.input :mins_of_A %>
    <%= f.input :mins_of_B %>
    <%= f.input :rate_of_A %>
    <%= f.input :amt_of_A %>
    <%= f.input :rate_of_B %>
    <%= f.input :amt_of_B %>
    <%= f.input :rate_of_C %>
    <%= f.input :amt_of_C %>
    <%= f.input :rate_of_H %>
    <%= f.input :amt_of_H %>
    <%= f.input :mins_per_unit %>
    <%= f.input :valid_unit %>
    <%= f.input :is_stoped %>
    <%= f.input :pay_type %>
    <%= f.input :memo %>
    <%= f.input :ou_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
