<h2>加班類別清單</h2>

<%= form_tag multi_destroy_overtypes_path, method: :delete do %>

  <%= link_to '新增', new_overtype_path ,class: 'btn btn-primary'%>

  <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料'} %>

<table id='table_id' class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>代號</th>
      <th>名稱</th>
      <th>A 時段</th>
      <th>B 時段</th>
      <th>A 比率</th>
      <th>A 金額</th>
      <th>B 比率</th>
      <th>B 金額</th>
      <th>C 比率</th>
      <th>C 金額</th>
      <th>假日加班費比率</th>
      <th>假日加班費金額</th>
      <th>加班費累進單位</th>
      <th>Valid unit</th>
      <th>停用</th>
      <th>Pay type</th>   
    </tr>
  </thead>

  <tbody>
    <% @overtypes.each_with_index do |overtype,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", overtype.id %></td>
        <td><%= i+1 %>
        <td><%= link_to overtype.uid, edit_overtype_path(overtype)%></td>
        <td><%= link_to overtype.name, edit_overtype_path(overtype) %></td>
        <td><%= overtype.mins_of_A %></td>
        <td><%= overtype.mins_of_B %></td>
        <td><%= overtype.rate_of_A %></td>
        <td><%= overtype.amt_of_A %></td>
        <td><%= overtype.rate_of_B %></td>
        <td><%= overtype.amt_of_B %></td>
        <td><%= overtype.rate_of_C %></td>
        <td><%= overtype.amt_of_C %></td>
        <td><%= overtype.rate_of_H %></td>
        <td><%= overtype.amt_of_H %></td>
        <td><%= overtype.mins_per_unit %></td>
        <td><%= overtype.valid_unit %></td>
        <td><%= overtype.is_stoped %></td>
        <td><%= overtype.pay_type %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新增', new_overtype_path ,class: 'btn btn-primary'%>

  <%= submit_tag "刪除",class: 'btn btn-danger btn-sm', data: { confirm: '刪除所選資料'} %>

<% end %>
