<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @overtype.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @overtype.name %>
</p>

<p>
  <strong>Mins of a:</strong>
  <%= @overtype.mins_of_A %>
</p>

<p>
  <strong>Mins of b:</strong>
  <%= @overtype.mins_of_B %>
</p>

<p>
  <strong>Rate of a:</strong>
  <%= @overtype.rate_of_A %>
</p>

<p>
  <strong>Amt of a:</strong>
  <%= @overtype.amt_of_A %>
</p>

<p>
  <strong>Rate of b:</strong>
  <%= @overtype.rate_of_B %>
</p>

<p>
  <strong>Amt of b:</strong>
  <%= @overtype.amt_of_B %>
</p>

<p>
  <strong>Rate of c:</strong>
  <%= @overtype.rate_of_C %>
</p>

<p>
  <strong>Amt of c:</strong>
  <%= @overtype.amt_of_C %>
</p>

<p>
  <strong>Rate of h:</strong>
  <%= @overtype.rate_of_H %>
</p>

<p>
  <strong>Amt of h:</strong>
  <%= @overtype.amt_of_H %>
</p>

<p>
  <strong>Mins per unit:</strong>
  <%= @overtype.mins_per_unit %>
</p>

<p>
  <strong>Valid unit:</strong>
  <%= @overtype.valid_unit %>
</p>

<p>
  <strong>Is stoped:</strong>
  <%= @overtype.is_stoped %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @overtype.pay_type %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @overtype.memo %>
</p>

<p>
  <strong>Ou:</strong>
  <%= @overtype.ou_id %>
</p>

<%= link_to 'Edit', edit_overtype_path(@overtype) %> |
<%= link_to 'Back', overtypes_path %>
