<%= simple_form_for(@department) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs"> 
    <%= f.input(:uid,label: '代號',placeholder:'部門代號', autofocus: true) %>  
    <%= f.input :name,placeholder:'部門名稱',label: '部門' %>  
    <%= f.association :worktype, value_method: :id, :label_method => lambda { |f| "#{f.uid}  #{f.name} " },label: '班別' %> 
    <%= f.association :upper,label: '上層主管', :label_method => lambda { |f| "#{f.uid} #{f.name}"},:prompt => '請選擇上層主管'%>
    <%= f.input :is_stoped,label:'停用' %>
    <%= f.input :memo,label:'備註',placeholder:'備註' %> 
  </div>

  <div class="form-actions"> 
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to '回上一頁', departments_path,class: 'btn btn-warning', method: :get %>
  </div>
<% end %>
