<h1>Listing Departments</h1>

<%= form_tag multi_destroy_departments_path, method: :delete do %>
  <%= submit_tag "Delete Selected" %>
  <table id='table_id'class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th>Uid</th>
        <th>Name</th>
        <th>Worktype</th>
        <th>Upper</th>
        <th>Is stoped</th> 
        <th>x</th>
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <tr>
          <td><%= check_box_tag "ids[]", department.id %></td>
          <td><%= link_to department.uid, edit_department_path(department) %></td>
          <td><%= link_to department.name, edit_department_path(department) %></td>
          <td><%= department.worktype.try(:uid) %></td>
          <td><%= department.upper.try(:name) %></td>
          <td><%= '停用中' if department.is_stoped %></td>  
          <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 
<% end %>

<br>

<%= link_to 'New Department', new_department_path %>
