<%= simple_form_for(@offtype) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :uid,placeholder:'假別代號', autofocus: true %>
    <%= f.input :name ,placeholder:'假別名稱'%>
    <%= f.input :mins_of_minimum,placeholder:"最小請假單位(分鐘)，常用：60" %>
    <%= f.input :mins_per_unit,placeholder:'累進單位(分鐘)，常用：60' %>
    <%= f.input :deduct_percent,placeholder:'扣薪百分比' %>
    <%= f.input :include_holiday %>
    <%= f.input :can_duplicate %>
    <%= f.input :is_quota_ctrl %>
    <%= f.input :is_stoped %> 
  </div>

  <div class="form-actions">
    <table>
      <tr>
        <td>
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %> </td>
      <td> 
      <%= link_to 'Back', offtypes_path,class: 'btn btn-primary', method: :get %> </td> 
     </tr>
    </table>
  </div>

<% end %> 
