<h2>Listing Offtypes</h2>

<%= form_tag multi_destroy_offtypes_path, method: :delete do %>

  <%= link_to 'New ', new_offtype_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %> 

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>Uid</th>
      <th>Name</th>
      <th>Mins of minimum</th>
      <th>Mins per unit</th>
      <th>Deduct percent</th>
      <th>Include holiday</th>
      <th>Can duplicate</th>
      <th>Is quota ctrl</th>
      <th>Is stoped</th> 
    </tr>
  </thead>

  <tbody>
    <% @offtypes.each_with_index do |offtype,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", offtype.id %></td>
        <td><%= i+1 %></td>
        <td><%= link_to offtype.uid,edit_offtype_path(offtype) %></td>
        <td><%= link_to offtype.name,edit_offtype_path(offtype) %></td>
        <td><%= offtype.mins_of_minimum %></td>
        <td><%= offtype.mins_per_unit %></td>
        <td><%= offtype.deduct_percent %></td>
        <td><%= '含假日' if offtype.include_holiday %></td>
        <td><%= '可重疊' if offtype.can_duplicate %></td>
        <td><%= '管控假' if offtype.is_quota_ctrl %></td>
        <td><%= '已停用' if offtype.is_stoped %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'New ', new_offtype_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  
<% end %>
