<p id="notice"><%= notice %></p>

<h1>Listing Offtypes</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Mins of minimum</th>
      <th>Mins per unit</th>
      <th>Deduct percent</th>
      <th>Include holiday</th>
      <th>Can duplicate</th>
      <th>Is quota ctrl</th>
      <th>Is stoped</th>
      <th>Memo</th>
      <th>Ou</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offtypes.each do |offtype| %>
      <tr>
        <td><%= offtype.uid %></td>
        <td><%= offtype.name %></td>
        <td><%= offtype.mins_of_minimum %></td>
        <td><%= offtype.mins_per_unit %></td>
        <td><%= offtype.deduct_percent %></td>
        <td><%= offtype.include_holiday %></td>
        <td><%= offtype.can_duplicate %></td>
        <td><%= offtype.is_quota_ctrl %></td>
        <td><%= offtype.is_stoped %></td>
        <td><%= offtype.memo %></td>
        <td><%= offtype.ou_id %></td>
        <td><%= link_to 'Show', offtype %></td>
        <td><%= link_to 'Edit', edit_offtype_path(offtype) %></td>
        <td><%= link_to 'Destroy', offtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offtype', new_offtype_path %>
