<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @offtype.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @offtype.name %>
</p>

<p>
  <strong>Mins of minimum:</strong>
  <%= @offtype.mins_of_minimum %>
</p>

<p>
  <strong>Mins per unit:</strong>
  <%= @offtype.mins_per_unit %>
</p>

<p>
  <strong>Deduct percent:</strong>
  <%= @offtype.deduct_percent %>
</p>

<p>
  <strong>Include holiday:</strong>
  <%= @offtype.include_holiday %>
</p>

<p>
  <strong>Can duplicate:</strong>
  <%= @offtype.can_duplicate %>
</p>

<p>
  <strong>Is quota ctrl:</strong>
  <%= @offtype.is_quota_ctrl %>
</p>

<p>
  <strong>Is stoped:</strong>
  <%= @offtype.is_stoped %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @offtype.memo %>
</p>

<p>
  <strong>Ou:</strong>
  <%= @offtype.ou_id %>
</p>

<%= link_to 'Edit', edit_offtype_path(@offtype) %> |
<%= link_to 'Back', offtypes_path %>
