<h2>休息時刻清單</h2> 



  <table id='table_id' class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th>項次</th>
        <th>班別</th>
        <th>休息(起)</th>
        <th>休息時間</th>
        <th>是否為假日</th>
        <th>是否扣除(工時)</th>  
      </tr>
    </thead>

    <tbody>
      <% @workrests.each_with_index do |workrest,i| %>
        <tr>
          <td><%= check_box_tag "ids[]", workrest.id %></td>
          <td><%= i+1 %></td>
          <td><%= workrest.worktype.try(:name) %></td>
          <td><%= workrest.rest_begin_at.strftime('%H:%M') %></td>
          <td><%= workrest.mins_of_rest %></td>
          <td><%= workrest.is_holiday %></td>
          <td><%= workrest.is_deduct_for_duty %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

