<h2>休息時刻清單</h2> 

<%= form_tag multi_destroy_worktype_workrests_path, method: :delete do %>

  <%= link_to 'New ', new_worktype_workrest_path, autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  <%= link_to 'Exit ', worktypes_path,autofocus: true, method: :get, class: 'btn btn-warning' %>

  <table id='table_id' class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th>項次</th>
        <th>班別</th>
        <th>休息(起)</th>
        <th>休息時間</th>
        <th>是否為假日</th>
        <th>是否扣除(工時)</th>  
      </tr>
    </thead>

    <tbody>
      <% @workrests.each_with_index do |workrest,i| %>
        <tr>
          <td><%= check_box_tag "ids[]", workrest.id %></td>
          <td><%= i+1 %></td>
          <td><%= workrest.worktype.try(:name) %></td>
          <td><%= workrest.rest_begin_at.strftime('%H:%M') %></td>
          <td><%= workrest.mins_of_rest %></td>
          <td><%= (workrest.is_holiday)? '是' : '否' %></td>
          <td><%= (workrest.is_deduct_for_duty)? '是' : '否' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= link_to 'New ', new_worktype_workrest_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  <%= link_to 'Back ', worktypes_path,autofocus: true, method: :get, class: 'btn btn-warning' %>

<% end %>