<%= simple_form_for(@annual_leave_list) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :months_of_job,label:'年資(月份)' %>
    <%= f.input :days,label:'特休天數' %>
    <%= f.input :memo,label:'備註' %>
    <!-- <%= f.input :ou_id %> -->
  </div>

  <div class="form-actions">
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to 'Back', annual_leave_lists_path,class: 'btn btn-primary', method: :get %>
  </div>

<% end %> 
