<p id="notice"><%= notice %></p>

<h1>Listing Annual Leave Lists</h1>

<table>
  <thead>
    <tr>
      <th>Months of job</th>
      <th>Days</th>
      <th>Memo</th>
      <th>Ou</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annual_leave_lists.each do |annual_leave_list| %>
      <tr>
        <td><%= annual_leave_list.months_of_job %></td>
        <td><%= annual_leave_list.days %></td>
        <td><%= annual_leave_list.memo %></td>
        <td><%= annual_leave_list.ou_id %></td>
        <td><%= link_to 'Show', annual_leave_list %></td>
        <td><%= link_to 'Edit', edit_annual_leave_list_path(annual_leave_list) %></td>
        <td><%= link_to 'Destroy', annual_leave_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annual leave list', new_annual_leave_list_path %>
