<h2>Listing Annual Leave Lists</h2>

<%= form_tag multi_destroy_annual_leave_lists_path, method: :delete do %>

  <%= link_to 'New ', new_annual_leave_list_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %> 

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>Months of job</th>
      <th>Days</th>
      <th>Memo</th> 
    </tr>
  </thead>

  <tbody>
    <% @annual_leave_lists.each_with_index do |annual_leave_list,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", annual_leave_list.id %></td>
        <td><%= i+1 %></td>
        <td><%= link_to annual_leave_list.months_of_job, edit_annual_leave_list_path(annual_leave_list) %></td>
        <td><%= annual_leave_list.days %></td>
        <td><%= annual_leave_list.memo %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'New ', new_annual_leave_list_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  
<% end %>
