<p id="notice"><%= notice %></p>

<p>
  <strong>Months of job:</strong>
  <%= @annual_leave_list.months_of_job %>
</p>

<p>
  <strong>Days:</strong>
  <%= @annual_leave_list.days %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @annual_leave_list.memo %>
</p>

<p>
  <strong>Ou:</strong>
  <%= @annual_leave_list.ou_id %>
</p>

<%= link_to 'Edit', edit_annual_leave_list_path(@annual_leave_list) %> |
<%= link_to 'Back', annual_leave_lists_path %>
