<h1>行事曆維護</h1>

<%= form_tag calendars_path, :method => 'get' do %>
  <p>
  	<%= text_field_tag :yyyymm, yyyymm, placeholder:'年月', autofocus: true %>
  	<%= submit_tag "尋找" %>
  </p>
<% end %>

<table id='table_id' class='table table-hover'>
	<thead>
		<tr>
			<th>日期</th>
			<th>是否為假日</th>
	  	</tr>
	</thead>
	<tbody>
		<% @calendars.each_with_index do |f,i| %>
		  <tr>
		  	<td><%= link_to f.duty_date,edit_calendar_path(f) %></td>
			<td><%= (f.is_holiday)? '是' : '否' %></td>
		</tr>
		<% end %>
  	</tbody>
</table>