<h1>部門出勤曆</h1>

<%= form_tag view_sch_deps_path, :method => 'get' do %>
  <p>
  	<%= text_field_tag :yyyymm, yyyymm,placeholder:'年月', autofocus: true %>
  	<%= select_tag 'dep_id', options_for_select(Department.all.collect{ |u| [u.name, u.uid] }) %>
  	<%= submit_tag "尋找", :name => nil %>
  </p>
<% end %>

<table id='table_id' class='table table-hover'>
	<thead>
		<tr>
			<th>項次</th>
			<th>部門</th>
			<th>日期</th>
			<th>班別</th>
			<th>假日</th>
	  </tr>
	</thead>
		
	<tbody>
		<% @viewschdeps.each_with_index do |f,i| %>
		  <tr>
		  	<td><%= i + 1 %></td>
		  	<td><%= f.name %></td>
		  	<td><%= link_to f.duty_date,edit_view_sch_dep_path(f,:duty_date => f.duty_date,:uid => f.uid)%></td>
				<td><%= f.worktype.to_s %></td>
				<td><%= f.is_holiday %></td>
			</tr>
		<% end %>
  </tbody>
</table>