<h4><strong><%= @employee_name %></strong></h4>

<%= simple_form_for @employee_salary, url: employee_employee_salary_settings_path do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.association :pay_type, label: '類別', :label_method => lambda { |f| "#{f.uid}  #{f.name}" }  %>
    <%= f.input :amt, label: '金額' %>
    <%= f.input :memo, label: '備註' %>
  </div>

  <div class="form-actions">
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to '回上一頁', employee_employee_salary_settings_path, class: 'btn btn-warning', method: :get %>
  </div>

<% end %> 