<p id="notice"><%= notice %></p>

<h1>Listing Subsidies</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Rate</th>
      <th>Memo</th>
      <th>Is stoped</th>
      <th>Ou</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subsidies.each do |subsidy| %>
      <tr>
        <td><%= subsidy.uid %></td>
        <td><%= subsidy.name %></td>
        <td><%= subsidy.rate %></td>
        <td><%= subsidy.memo %></td>
        <td><%= subsidy.is_stoped %></td>
        <td><%= subsidy.ou_id %></td>
        <td><%= link_to 'Show', subsidy %></td>
        <td><%= link_to 'Edit', edit_subsidy_path(subsidy) %></td>
        <td><%= link_to 'Destroy', subsidy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subsidy', new_subsidy_path %>
