<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @subsidy.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @subsidy.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @subsidy.rate %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @subsidy.memo %>
</p>

<p>
  <strong>Is stoped:</strong>
  <%= @subsidy.is_stoped %>
</p>

<p>
  <strong>Ou:</strong>
  <%= @subsidy.ou_id %>
</p>

<%= link_to 'Edit', edit_subsidy_path(@subsidy) %> |
<%= link_to 'Back', subsidies_path %>
