<%= simple_form_for(@overwork) do |f| %>
  <% f.error_notification %>

  <div class="form-inputs">
    <%= f.input :employee_uid,label:'員工編號',:input_html => {:onChange => 'emp_get_name(this.value)', :id => "employee_uid"},autofocus: true %><span id="name"></span>
     <%= f.input :employee_id,as: :hidden,:input_html => {:id => "employee_id"} %>
    <%= f.association :overtype,:label_method => lambda { |f| "#{f.uid}  #{f.name}" } %>
    <%= f.input :duty_date,as: :string,placeholder:'出勤日期',label:'出勤日' %>
    <%= f.input :begin_date,label:'加班起(日期)' %>
    <%= f.input :begin_time,label:'加班起(時間)' %>
    <%= f.input :end_date,label:'加班迄(日期)' %>
    <%= f.input :end_time,label:'加班起(時間)' %>
    <%= f.input :hr,as: :integer,placeholder:'時數',label:'超時時數' %>
    <%= f.input :hr_h,as: :integer,placeholder:'時數',label:'假日時數' %>
    <%= f.input :is_closed,label:'是否關帳' %>
    <%= f.input :notes,placeholder:'備註',label:'備註' %> 
  </div>

  <div class="form-actions"> 
      <%= f.button :submit,'存檔',class: 'btn btn-primary' %>
      <%= link_to 'Back', doc_overworks_path,class: 'btn btn-primary', method: :get %>
  </div>
<% end %>
