<h2>Listing Pay Types</h2>

<%= form_tag multi_destroy_pay_types_path, method: :delete do %>

  <%= link_to 'New ', new_pay_type_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %> 

<table id='table_id'class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>項次</th>
      <th>Uid</th>
      <th>Name</th>
      <th>Cycle unit</th>
      <th>Rule for break</th>
      <th>Is stoped</th>
      <th>Ou id</th>
      <th>Memo</th>
    </tr>
  </thead>

  <tbody>
    <% @pay_types.each_with_index do |pay_type,i| %>
      <tr>
        <td><%= check_box_tag "ids[]", pay_type.id %></td>
        <td><%= i+1 %></td>
        <td><%= link_to pay_type.uid,edit_pay_type_path(pay_type) %></td>
        <td><%= link_to pay_type.name,edit_pay_type_path(pay_type) %></td>
        <td><%= pay_type.cycle_unit %></td>
        <td><%= pay_type.rule_for_break %></td>
        <td><%= pay_type.is_stoped %></td>
        <td><%= pay_type.ou_id %></td>
        <td><%= pay_type.memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'New ', new_pay_type_path,autofocus: true, method: :get, class: 'btn btn-primary' %>
  <%= submit_tag "Delete Selected",class: 'btn btn-danger', data: { confirm: '刪除所選資料，Are you sure?' } %>
  
<% end %>
