<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @pay_type.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pay_type.name %>
</p>

<p>
  <strong>Cycle unit:</strong>
  <%= @pay_type.cycle_unit %>
</p>

<p>
  <strong>Rule for break:</strong>
  <%= @pay_type.rule_for_break %>
</p>

<p>
  <strong>Is stoped:</strong>
  <%= @pay_type.is_stoped %>
</p>

<p>
  <strong>Ou it:</strong>
  <%= @pay_type.ou_id %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @pay_type.memo %>
</p>

<%= link_to 'Edit', edit_pay_type_path(@pay_type) %> |
<%= link_to 'Back', pay_types_path %>
